<div id="<%= dom_id tutor_creation %>">
  <p>
    <strong>User:</strong>
    <%= tutor_creation.user_id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= tutor_creation.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= tutor_creation.last_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tutor_creation.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= tutor_creation.price %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= tutor_creation.subject %>
  </p>

</div>
